<div fxLayout="column wrap" class="post-container" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="row wrap" class="info-row" fxLayoutAlign="space-between center" [fxShow]="true">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/img/person1.jpg" class="user-profile">
      <div>
        libin_lucky</div>
    </div><span class="fa-solid fa-ellipsis">
                </span>
  </div><img imgSrc="/Web/img/person1.jpg" style="margin:10px 0px;" class="post">
  <div fxLayout="column " class="post-details" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" style="margin:10px 0px;" fxLayoutAlign="space-between stretch" [fxShow]="true">
      <div fxLayout="row wrap" class="likeShareCommand" fxLayoutAlign="start stretch" [fxShow]="true"><span class="fa-heart fa-regular">
                </span><span class="fa-regular fa-comment">
                </span><span class="fa-sharp fa-solid fa-paper-plane">
                </span></div><span class="fa-regular fa-bookmark">
                </span>
    </div>
    <p>
      123 Likes</p>
    <p>
      this is a sample description </p>
    <p>
      2hrs ago</p>
  </div>
  <div fxLayout="row " class="command-box" fxLayoutAlign="space-between center" [fxShow]="true"><span class="fa-regular fa-face-smile">
                </span>
    <mat-form-field class="input-box" [appearance]="&apos;standard&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
      <input matInput [required]="false">

    </mat-form-field><button mat-button>Send</button>
  </div>
</div>
<div fxLayout="column wrap" class="post-container" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="row wrap" class="info-row" fxLayoutAlign="space-between center" [fxShow]="true">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/img/person1.jpg" class="user-profile">
      <div>
        libin_lucky</div>
    </div><span class="fa-solid fa-ellipsis">
                </span>
  </div><iframe src="https://www.youtube.com/embed/ETEEO-_Zjxs" style="width:100%;height:560px;margin:10px 0px;">
  </iframe>
  <div fxLayout="column " class="post-details" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true">
      <div fxLayout="row wrap" style="margin:10px 0px;" class="likeShareCommand" fxLayoutAlign="start stretch" [fxShow]="true"><span class="fa-heart fa-regular">
                </span><span class="fa-regular fa-comment">
                </span><span class="fa-sharp fa-solid fa-paper-plane">
                </span></div><span class="fa-regular fa-bookmark">
                </span>
    </div>
    <p>
      123 Likes</p>
    <p>
      This is a sample description</p>
    <p>
      2hrs ago</p>
  </div>
  <div fxLayout="row " class="command-box" fxLayoutAlign="space-between center" [fxShow]="true"><span class="fa-regular fa-face-smile">
                </span>
    <mat-form-field class="input-box" [appearance]="&apos;standard&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
      <input matInput [required]="false">

    </mat-form-field><button mat-button>Send</button>
  </div>
</div>