<div fxLayout="row wrap" class="navbar" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/img/instagram-text-logo.png" class="hide instagram-text-logo">
  <div fxLayout="row " class="nav-sm" fxLayoutAlign="none none" [fxShow]="true">
    <div fxLayout="row wrap" class="nav-item" fxLayoutAlign="none center" [fxShow]="true"><span class="fa-solid fa-house">
                </span><span class="nav-name">
                Home</span></div>
    <div fxLayout="row wrap" class="hide nav-item" fxLayoutAlign="start stretch" [fxShow]="true"><span class="fa-solid fa-magnifying-glass">
                </span><span class="nav-name">
                Search</span></div>
    <div fxLayout="row wrap" class="nav-item" fxLayoutAlign="start stretch" [fxShow]="true"><span class="fa-compass fa-solid">
                </span><span class="nav-name">
                Explore</span></div>
    <div fxLayout="row wrap" class="nav-item" fxLayoutAlign="start stretch" [fxShow]="true"><span class="fa-video fa-solid">
                </span><span class="nav-name">
                Reels</span></div>
    <div fxLayout="row wrap" class="nav-item" fxLayoutAlign="start stretch" [fxShow]="true"><span class="fa-brands fa-facebook-messenger">
                </span><span class="nav-name">
                Messages</span></div>
    <div fxLayout="row wrap" class="hide nav-item" fxLayoutAlign="start stretch" [fxShow]="true"><span class="fa-heart fa-regular">
                </span><span class="nav-name">
                Notification</span></div>
    <div fxLayout="row wrap" class="nav-item" fxLayoutAlign="start stretch" [fxShow]="true"><span class="fa-regular fa-square-plus">
                </span><span class="nav-name">
                Create</span></div>
  </div>
</div>