<bh-navbar></bh-navbar>
<div fxLayout="row " class="mainRow" fxLayoutAlign="space-between none" [fxShow]="true">
  <div fxLayout="column wrap" class="post-column" fxLayoutAlign="start stretch" [fxShow]="true"><bh-Storys></bh-Storys><bh-Post></bh-Post><bh-Post></bh-Post><bh-Post></bh-Post><bh-Post></bh-Post></div>
  <div fxLayout="column " class="suggessions" fxFlex="30" fxLayoutAlign="none none" [fxShow]="true">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/img/profile.jpg">
      <div fxLayout="column " class="username-and-name-container" fxLayoutAlign="none start">
        <h2>
          rtb.kerala</h2><span>
                Richu</span>
      </div><button mat-button [disableRipple]="true">{{page.locales.keys.Switch}}</button>
    </div>
    <div fxLayout="row " style="margin:10px 5px;" fxLayoutAlign="space-between center" [fxShow]="true">
      <div>
        {{page.locales.keys.SuggestionsForYou}}
      </div><button mat-button>{{page.locales.keys.SeeAll}}</button>
    </div>
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row " style="margin:5px 10px" fxFlex="100" fxLayoutAlign="space-between stretch" [fxShow]="true"><img imgSrc="/Web/img/person0.jpg" style="width:30px;height:30px" class="user-profile">
        <div fxLayout="column " style="width:130px" fxLayoutAlign="none none" [fxShow]="true"><span style="font-size:.9rem">
                libin_lucky</span><span style="font-size:.7rem;height:20px;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
                Followed by vishnu.s_, visakhmsv51, anshad_malappuram + 1 more</span></div><button mat-button>{{page.locales.keys.Follow}}</button>
      </div>
    </div>
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row " style="margin:5px 10px" fxFlex="100" fxLayoutAlign="space-between stretch" [fxShow]="true"><img imgSrc="/Web/img/person0.jpg" style="width:30px;height:30px" class="user-profile">
        <div fxLayout="column " style="width:130px" fxLayoutAlign="none none" [fxShow]="true"><span style="font-size:.9rem">
                libin_lucky</span><span style="font-size:.7rem;height:20px;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
                Followed by vishnu.s_, visakhmsv51, anshad_malappuram + 1 more</span></div><button mat-button>{{page.locales.keys.Follow}}</button>
      </div>
    </div>
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row " style="margin:5px 10px" fxFlex="100" fxLayoutAlign="space-between stretch" [fxShow]="true"><img imgSrc="/Web/img/person0.jpg" style="width:30px;height:30px" class="user-profile">
        <div fxLayout="column " style="width:130px" fxLayoutAlign="none none" [fxShow]="true"><span style="font-size:.9rem">
                libin_lucky</span><span style="font-size:.7rem;height:20px;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
                Followed by vishnu.s_, visakhmsv51, anshad_malappuram + 1 more</span></div><button mat-button>{{page.locales.keys.Follow}}</button>
      </div>
    </div><bh-Footer></bh-Footer>
  </div>
</div>