<bh-navbar></bh-navbar>
<div fxLayout="row " class="mainRow" fxLayoutAlign="space-between none" [fxShow]="true">
  <div fxLayout="column wrap" class="post-column" fxLayoutAlign="start stretch" [fxShow]="true"><bh-Storys></bh-Storys><bh-Post></bh-Post><bh-Post></bh-Post><bh-Post></bh-Post><bh-Post></bh-Post></div>
  <div fxLayout="column " class="suggessions" fxFlex="30" fxLayoutAlign="none none" [fxShow]="true">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/img/profile.jpg">
      <div fxLayout="column " class="username-and-name-container" fxLayoutAlign="none start">
        <h2>
          rtb.kerala</h2><span>
                Richu</span>
      </div><button mat-button [disableRipple]="true">Switch</button>
    </div>
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"></div>
  </div>
</div>