<div fxLayout="row " class="story-row" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" class="story-name-container" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/img/person1.jpg" class="story-img">
    <div>
      libin_lucky</div>
  </div>
  <div fxLayout="column wrap" class="story-name-container" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/img/person1.jpg" class="story-img">
    <div>
      libin_lucky</div>
  </div>
  <div fxLayout="column wrap" class="story-name-container" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/img/person1.jpg" class="story-img">
    <div>
      libin_lucky</div>
  </div>
  <div fxLayout="column wrap" class="story-name-container" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/img/person1.jpg" class="story-img">
    <div>
      libin_lucky</div>
  </div>
  <div fxLayout="column wrap" class="story-name-container" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/img/person1.jpg" class="story-img">
    <div>
      libin_lucky</div>
  </div>
</div>